# external requirements
Sphinx
python-dotenv>=0.5.1
opencv-python
deepaas>=1.3.0
flaat>=0.5.1
webargs>=5.5.2
#
## backwards compatibility
#pathlib2
#
# info on the system:
py-cpuinfo
psutil
marshmallow
